<div class="header">
  <div class="title">Change Password</div>
  <div class="sub">fill details to change your password</div>
</div>
<div class="box">
  <div class="main">
    <form [formGroup]="form">
      <div class="input">
        <label for="">Current Password</label>
        <img class="icn" *ngIf="type1 == 'password'" (click)="toggle1('text')" src="assets/icons/show.svg" alt="">
        <img class="icn" *ngIf="type1 == 'text'" (click)="toggle1('password')" src="assets/icons/hide.svg" alt="">
        <input formControlName="currentPassword" [type]="type1" placeholder="**********">
      </div>
      <div class="input">
        <label for="">New Password</label>
        <img class="icn" *ngIf="type2 == 'password'" (click)="toggle2('text')" src="assets/icons/show.svg" alt="">
        <img class="icn" *ngIf="type2 == 'text'" (click)="toggle2('password')" src="assets/icons/hide.svg" alt="">
        <input formControlName="password" [type]="type2" placeholder="**********">
      </div>
      <div class="input">
        <label for="">Confirm New Password</label>
        <img class="icn" *ngIf="type3 == 'password'" (click)="toggle3('text')" src="assets/icons/show.svg" alt="">
        <img class="icn" *ngIf="type3 == 'text'" (click)="toggle3('password')" src="assets/icons/hide.svg" alt="">
        <input formControlName="confirmPassword" [type]="type3" placeholder="**********">
      </div>

      <div class="down">
        <button *ngIf="!loading" (click)="changePassword()" class="btnPrimary" > Save </button>
        <button *ngIf="loading" type="button" class="btnPrimary" ><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> </button>
      </div>
    </form>
  </div>
</div>
