@import '../../../../color';
:host{
z-index: 1000;
}
#overlay1 {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.box {
  z-index: 150;
  position: absolute;
  top: 40%;
  left: 40%;
  .card {

  }
}

.but {
  display: flex;
  flex-direction: row;
  button {
    margin: 10px;
  }
}
.txt {
  font-size: 15px;
  margin-bottom: 20px;
}
button {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128%;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}
.btnPrimary {
  background: $primary;
  color: white;
}
.btnPrimary1 {
  border: 1px solid $primary;
  color: $primary;
}
