@import '../../../../responsive', '../../../../color';



.box {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  margin: auto;
  .image {
    width: 100vw;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 100vh;
    // box-shadow:inset 0 0 0 2000px rgba(9, 9, 9, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      position: fixed;
      top: 40px;
      left: 70px;
      @include btw(1100, 0) {
        top: 20px;
      }
    }
    @include btw(900, 0) {
      padding-right: 0;
      padding-left: 0;
      justify-content: center;
    }

    .login-wrapper {
      position: absolute;
      width: 528px;
      height: 650px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 50px 40px;
      max-height: 90vh;
      overflow-y: auto;
      overflow-x: hidden;
      @include btw(1100, 0) {
        max-height: 70vh;
      }
      @include btw(600, 0) {
        width: 90vw;
      }
      .loginHeader {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .headD {
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 38px;
          color: #080730;
          padding-left: 20px;
        }
        .loginSub {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #343A40;
        }
      }
    }
  }
}
form {
  margin-top: 30px;
  width: 100%;

  .sign {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    letter-spacing: -0.005em;
    text-decoration-line: underline;
    color: $primary;
    padding-top: 15px;
  }
  .forgot {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #343A40;
    padding-top: 20px;
  }
  .pup {
    color: $primary;
    text-decoration: none;
  }
}
label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #080730;
  padding-bottom: 7px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  position: relative;
  .icn {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 0px;
    cursor: pointer;
  }
}
.down {
  margin-top: 20px;
}
.bx {
  position: relative;
  padding: 50px;
  .signature-container {
    width: 350px;
    // height: 200px;
    margin: auto;
    background-color: #E5E5E5;
    border-style: dashed;
    border-width: 1px;
  }
  .down {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button {
    margin: 10px;
    width: 90px;
    padding: 10 20px;
  }
  margin: auto;
  padding: 0 10%;
  .mat-form-field {
    width: 100%;
  }
  .down {
    width: 340px;
    margin: auto;
    margin-bottom: 20px;
  }
  .sign {
    width: 365px;
    height: 150px;
    margin: 20px auto;
    margin-bottom: 40px;
  }
}
.form-group {
  position: relative;
}
.image-wrap {
  // padding: 10px;
  // border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  position: relative;
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  height: auto;
  width: 350px;
  padding: 10px;
  min-height:150px;
  max-height: 150px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}
.but {
  background-color: $primary;
  color: white;
  margin-right: 20px;
  width: 100px;
}
.space {
  height: 100px;
}
.spaces {
  height: 50px;
}
.all {
  width: 365px;
  margin: auto;
}
.botcon {
  display: flex;
  justify-content: center;

}


