<div class="header">
  <div class="title">Add Signature</div>
  <div class="sub">Select Image Below To Add signature</div>
</div>
<div class="box">
  <div class="signature-container">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  </div>

  <div class="buttons">
    <div class="down">
      <button type="button" (click)="clearSignature()" class="btnPrimary" > Clear signature pad</button>
      <button *ngIf="!loading" type="button" (click)="savePad()" class="btnPrimary" > Save signature</button>
      <button *ngIf="loading" type="button" class="btnPrimary" ><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> </button>
    </div>
  </div>
</div>
