<div class="box">
  <div class="image" [style.background]="'url(' + image + ')'">
      <div>
        <img class="logo" src="assets/images/logo.png" alt="">
      </div>
        <div class="login-wrapper" fxLayout="column" fxLayoutAlign="start start">
          <div class="loginHeader">
            <span class="headD">CRL Reset Password</span>
            <span class="loginSub" >Sign In With your CRL Account</span>
          </div>
          <form *ngIf="mode" [formGroup]="form">
            <div class="input">
              <label for="">Email Address</label>
              <input formControlName="email" type="text" placeholder="email">
            </div>

            <!-- <div class="input">
              <label for="">Password</label>
              <img class="icn" *ngIf="type == 'password'" (click)="toggle('text')" src="assets/icons/show.svg" alt="">
              <img class="icn" *ngIf="type == 'text'" (click)="toggle('password')" src="assets/icons/hide.svg" alt="">
              <input [type]="type" placeholder="**********">
            </div> -->

            <div class="down">
              <button *ngIf="!loading" (click)="reset()" class="btnPrimary" > Reset </button>
              <button *ngIf="loading" type="button" class="btnPrimary" ><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> </button>            </div>
            <div class="sign"> <a class="sign" routerLink= "/auth/login">Login instead</a></div>
            <div class="forgot">Forgot your password? <span > <a class="pup" [routerLink] = "'/auth/forgot-password'">Reset</a></span></div>
          </form>

          <form *ngIf="!mode" [formGroup]="confirmForm">
            <!-- <div class="input">
              <label for="">Email Address</label>
              <input formControlName="email" type="text" placeholder="email">
            </div> -->

            <div class="input">
              <label for="">New Password</label>
              <img class="icn" *ngIf="type == 'password'" (click)="toggle('text')" src="assets/icons/show.svg" alt="">
              <img class="icn" *ngIf="type == 'text'" (click)="toggle('password')" src="assets/icons/hide.svg" alt="">
              <input formControlName="password" [type]="type" placeholder="**********">
            </div>

            <div class="input">
              <label for="">Confirm Password</label>
              <img class="icn" *ngIf="type == 'password'" (click)="toggle('text')" src="assets/icons/show.svg" alt="">
              <img class="icn" *ngIf="type == 'text'" (click)="toggle('password')" src="assets/icons/hide.svg" alt="">
              <input formControlName="confirmPassword" [type]="type" placeholder="**********">
            </div>

            <div class="down">
              <button *ngIf="!loading" (click)="confirm()" class="btnPrimary" > Reset </button>
              <button *ngIf="loading" type="button" class="btnPrimary" ><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> </button>            </div>
            <div class="sign"> <a class="sign" routerLink= "/auth/login">Login instead</a></div>
            <div class="forgot">Forgot your password? <span > <a class="pup" [routerLink] = "'/auth/forgot-password'">Reset</a></span></div>
          </form>
        </div>
  </div>
</div>
