<div class="all">
  <div class="row title">
    <app-app-title [name]="'Dividend History'"></app-app-title>
  </div>
  <div class="middle">
    <div class="search">
      <input type="text" (keyup)="applyFilter($event)" #input placeholder="search">
      <img class="Sicon" src="assets/icons/search.svg" alt="">
    </div>
    <div class="last" style="display: flex; flex-direction: row;">
      <div class="b-button b-search" style="text-align: center; width: 100px; margin-right: 20px;" (click)="search()">Search</div>
      <div class="b-button" (click)="exportexcel()">Export CSV</div>
    </div>  </div>
  <div class="middles">
    <div class="fom">
      <select name="" id="" (change)="onChangeDivT($event.target.value)">
        <option  value="0">Select Company</option>
        <option *ngFor="let data of registrers" [value]="data.id">{{data.name}}</option>
      </select>
    </div>
  </div>
  <app-dash-loader *ngIf="stageLoading"></app-dash-loader>


  <div class="table">
    <table mat-table [dataSource]="totHistory" id="excel-table">


      <ng-container matColumnDef="gross">
        <th mat-header-cell *matHeaderCellDef> Gross </th>
        <td mat-cell *matCellDef="let element"> {{element.gross | currency:'&#8358;'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="holdings">
        <th mat-header-cell *matHeaderCellDef> Holdings </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.holdings < 0"> <span style="color: red;">{{element.holdings}}</span> </ng-container>
          <ng-container *ngIf="element.holdings >= 0"><span style="color: green;">{{element.holdings}}</span> </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="netAmount">
        <th mat-header-cell *matHeaderCellDef> Net Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.netAmount | currency:'&#8358;'}} </td>
      </ng-container>

      <ng-container matColumnDef="paymentNo">
        <th mat-header-cell *matHeaderCellDef> Payment No. </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentNo}} </td>
      </ng-container>

      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef> Tax </th>
        <td mat-cell *matCellDef="let element"> {{element.tax | currency:'&#8358;'}} </td>
      </ng-container>

      <ng-container matColumnDef="registrar">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let element"> {{element.registrar}} </td>
      </ng-container>

      <ng-container matColumnDef="warrantNo">
        <th mat-header-cell *matHeaderCellDef> Warrant No. </th>
        <td mat-cell *matCellDef="let element"> {{element.warrantNo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="datePaid">
        <th mat-header-cell *matHeaderCellDef> Date Paid</th>
        <td mat-cell *matCellDef="let element"> {{element.datePaid | date}} </td>
      </ng-container>

      <!-- Symbol Column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <div class="paginator">
      <div class="pag">
        <img (click)="prev()" style="width: 30px; height: 30px;" src="assets/icons/prev1.svg" alt="">
        <div class="num">{{pageNum}}</div>
        <img (click)="next()" style="width: 30px; height: 30px;" src="assets/icons/next1.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="overlay" (click)="search()" *ngIf="reportSeleceted" [@slideInOut]></div>
<div class="report" *ngIf="reportSeleceted" [@slideInOut]>

  <div class="input">
    <label for="">Select Company</label>
    <select name="" id="" (change)="onChangeCom($event.target.value)">
      <option  value="0">Select Company</option>
      <option *ngFor="let data of registrers" [value]="data.id">{{data.name}}</option>
    </select>
  </div>

  <!-- <div class="input">
    <label for="">Select Company</label>
    <select name="" id="" [(ngModel)]="transType">
      <option  value="1">Buy</option>
      <option  value="0">Sell</option>
      <option  value="2">All</option>
    </select>
  </div> -->

  <div class="input">
    <label for="">Search Text</label>
    <input [(ngModel)]="text" type="text" placeholder="search text">
  </div>

  <div class="input">
    <label for="">Start Date</label>
    <input [(ngModel)]="startDate" type="date">
  </div>

  <div class="input">
    <label for="">End Date</label>
    <input [(ngModel)]="endDate" type="date">
  </div>

  <div class="b-button b-search" style="text-align: center;" (click)="fetchHistory()">Search</div>

</div>
