$primary: #B580D1;
$secondary: #1A1A1A;
$secondary2: #c4d600;
$background: #b3b3b3;
$text: #343A40;
$text1: #4d4d4d;
$textHeader: #080730;

$dashboard2: #009639;
$dashboard3: #ff002b;
$shadow1: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),;
$shadow2: 0.2px 0.2px 0.2px 0.2px #ccc;
